<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>924211986379-e9omjbcl8o80j7tp5vuui5u84q016bqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924211986379-e9omjbcl8o80j7tp5vuui5u84q016bqr</string>
	<key>API_KEY</key>
	<string>AIzaSyA9jLDpHs_8m0_B4dHfL9EJW0nz_cs4xhE</string>
	<key>GCM_SENDER_ID</key>
	<string>924211986379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raulolmedo.socialMusic</string>
	<key>PROJECT_ID</key>
	<string>social-music-7b288</string>
	<key>STORAGE_BUCKET</key>
	<string>social-music-7b288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924211986379:ios:d5f9f352ec173ad5</string>
	<key>DATABASE_URL</key>
	<string>https://social-music-7b288.firebaseio.com</string>
</dict>
</plist>